body {
    margin-top: 20px;
}

.footer {
    background: black;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 20px;
}

.footer div {
    max-width: 25%;
    margin: 1rem;
}

.footer div ol {
    list-style: none;
}