.product button {
  padding: 5px;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  color: white;
  display: flex;
}

modal {
  background-color: black;
  z-index: 9999;
}

button {
  cursor: pointer;
}

.modal form input,
.modal form label {
  margin: 10px;
  padding: 8px;
  width: 400px;
  text-align: center;
}

.modal form input {
  text-align: center;
  font-size: 15px;
}

.modal form select {
  margin: 10px;
  padding: 8px;
  width: 420px;
  text-align: center;
  font-size: 15px;
  color: gray;
}

.buttons button {
  width: 50px;
}
