.productcontainer {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

.button,
.addToCart {
  padding: 10px;
  width: 50px;
  width: 40%;
  align-items: center;
}

.button button {
  padding: 10px;
  height: 40px;
  font-size: 15px;
  width: 40px;
  margin: 5px;
  text-align: center;
}

.addToCart button {
  padding: 10px;
  height: 40px;
  font-size: 15px;
  margin: 5px;
  width: 100%;
  text-align: center;
}

.details {
  padding: 5px;
}

.details h3 {
  font-size: 25px;
  font-weight: bold;
}

.details h4 {
  font-size: 20px;
  font-weight: bolder;
}

.details label {
  font-size: 15px;
  font-weight: 500;
  color: grey;
}

.details li {
  font-size: 13px;
  color: gray;
}

.profilecontainer .profile {
  background-color: black;
  padding: 20px;
  color: white;
  align-items: center;
}

.profilecontainer {
  border-radius: 15px;
}

.profile button {
  background: transparent;
  border: none;
  font-size: 15px;
  margin: 5px;
  padding: 10px;
  border: 1px solid white;
  min-width: 250px;
  color: white;
  text-align: center;
}

.profile ul {
  list-style: none;
  margin-right: 30px;
}

.profile button:hover {
  background-color: white;
  color: black;
}
